body {
    padding: 0em;
    color: rgb(53, 53, 53);
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.cabecera {
    background: rgb(86, 86, 228);
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 15, 0.75);
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: white;
    padding: .5em 0 0.5em 2em;
}

.container {
    width: 70%;
    padding: 0.2em;
    text-align: center;
    border: 1px solid #ddd;
    margin: 0 auto;
}

.container h1 {
    font-size: 18px;
    text-align: center;
}

.logo1,
.logo2,
.logo3 {
    width: 26px;
    vertical-align: middle;
}

.cabecera span {
    font-weight: normal;
    font-size: 16px;
}

.post {
    background: white;
    padding: 1rem;
}


/**Footer**/

.footer {
    font-size: 12px;
    color: white;
    font-weight: bolder;
    background-color: cornflowerblue;
    padding: 0.02rem;
}